extends ../layout/header-footer

block append head
    meta(charset='utf-8')
    title chat

block append link
    link(rel='stylesheet' href='/stylesheets/chat-style.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt' crossorigin='anonymous')

    style(type="text/css").
        .chat-icon
        {
            color: #44403E;
        }
        

block content
    .main
        #title_wrapper
            // 戻るボタン
            .return
                a(href=`${common.protocol}://${common.host}/rooms`)
                    i.fas.fa-reply
            .msg_title #{room_title}

            //依頼完了ボタン
            #task_complete_btn
                i.fas.fa-check-circle(style="color:#cccccc")

        div(style='width:100%;height:70%;overflow-y:auto;overflow-x:hidden;')
            #chat
            // ここに下記のscriptで動的に要素を追加される
        
        .input-form-wrapper
            // いいねボタン
            .good
                i.fas.fa-thumbs-up
                
            .submit-btn-wrapper
                // 位置情報を相手に送るボタン
                .pin
                    i.fas.fa-map-marker-alt

                // メッセージを入力し、送信する要素
                .msg_submit
                    form#form(action='' method='POST' name='form')
                        textarea#input_field(cols='10' name='input' placeholder=' メッセージを入力')
                        // デバック用(消してもOK)
                        // <input type="hidden" name="flg" value="1"/>
                        .send-btn
                            i.fas.fa-paper-plane



block js
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script.
        let i = 1;
        let data;
        let msgArea;

        
        //スライス開始位置
        const omit_title = () =>
        {
            const title_div = document.querySelector(".msg_title");
            const title = title_div.textContent;
            let n = 12;
            if(title.length > n){
                //n文字目以降をスライス
                let target_str = title.substring(0, n);

                //スライスした文字列の部分を"..."に置き換える
                const new_title = target_str + "...";
            
                title_div.textContent = new_title;
            }
        }

        omit_title();

        //websocketの接続先URL
        const HOST = location.origin.replace(/^http|^https/, 'ws') + '/rooms/chat-web-sock';

        //websocketオブジェクト
        const ws = new WebSocket(HOST);
        
        const user = !{JSON.stringify(user)};
        const host_id = #{host_id};
        const user_id = #{user_id};
        const room_id = #{room_id};

        //依頼完了ボタン押した後処理する関数 
        let flag=true;    
        document.querySelector("#task_complete_btn").addEventListener("click", ()=>{
            let msg = "依頼を完了しますか？\nこの動作を取り消すことはできません";
            let text = document.querySelector('i.fas.fa-check-circle');
            if(flag){
                if(confirm(msg)){
                    text.style.color ="77DC53";
                    flag = false;
                }
            }
        });

        ws.onopen = event => 
        {
            const message = 
            {
                key: "on_connected",
                room_id: room_id
            };

            ws.send(JSON.stringify(message));

            //メッセージを送信する関数
            const send_btn = document.querySelector(".send-btn");
            send_btn.addEventListener("click", () =>
            {
                let msg = document.getElementById('input_field').value;
                let data = { key: "submit", room_id: room_id, user_id: user_id, number: i, message: msg };

                if(!msg || msg == "") return;

                document.getElementById('input_field').value = "";
                //websocketでサーバーに送信
                ws.send(JSON.stringify(data));
            });
            
            //相手に位置情報を送る
            const pin_btn = document.querySelector(".pin");
            pin_btn.addEventListener("click", () =>
            {
                console.log("pin");

                const data = { key: "request_location", room_id: room_id, user_id: user_id, number: i};

                ws.send(JSON.stringify(data));
            });
        };

        //websocketでメッセージを受け取った時の処理
        ws.onmessage = (msg) => 
        {
            data = JSON.parse(msg.data);
            console.log(data);

            if(data.key == "submit")
            {
                //id名chatのdivを習得
                let parent = document.getElementById('chat');
                
                //div要素を作成
                let objD = document.createElement('div');
                
                //data.textに含まれる改行コードを改行タグに変換
                data.message.replace(/\\n/g, '<br>');
                
                //送信元が自分か相手かでクラス名を変更
                if(data.user_id == user_id)
                {
                    //クラス名をrightに
                    objD.className = 'right';
                    //子要素を追加(ユーザー画像いる？っていう案がでたので代わりに日付のっけるためのクラスに変えときます)
                    objD.innerHTML = "<div class='SendTime_right'></div>" + "<div class ='text_right'>" + "<p class='msg'></p>" + "</div>";

                    objD.lastChild.firstChild.textContent = data.message;
                
                    const user_icon = document.createElement("div");
                    user_icon.className = "image_right";

                    const buf = new Image();
                    buf.src = data.icon_img;
                    user_icon.style.backgroundImage = `url("${buf.src}")`;

                    objD.append(user_icon);
                    
                }
                else
                {
                    //クラス名をleftに
                    objD.className = 'left';
                    //子要素を追加
                    objD.innerHTML = "<div class='SendTime_left'></div>" + "<div class ='text_left'>" + "<p class='msg'></p>" + "</div>";
                    
                    objD.lastChild.firstChild.textContent = data.message;
                    
                    const user_icon = document.createElement("div");
                    user_icon.className = "image_left";

                    const buf = new Image();
                    buf.src = data.icon_img;
                    user_icon.style.backgroundImage = `url("${buf.src}")`;

                    objD.prepend(user_icon);
                }


                //要素を追加
                parent.appendChild(objD);

                //常に下にスクロール
                document.getElementById('chat').scrollIntoView(false);
            }
            else if(data.key == "request_location")
            {
                const parent = document.getElementById('chat');
                const element = document.createElement('div');
                
                if(data.user_id == user_id)
                {
                    element.className = 'right';

                    element.innerHTML = "<div class='SendTime_right'></div>" + "<div class ='text_right'>" 
                        + `<a href="${data.message}" target="_blank" rel="noopener"><div class="location-wrapper"><i class="fas fa-map-marked-alt location-icon"></i><p>タップでGoogle Mapにジャンプします</p></div></a>` + "</div>";
                
                
                    const user_icon = document.createElement("div");
                    user_icon.className = "image_right";

                    const buf = new Image();
                    buf.src = data.icon_img;
                    user_icon.style.backgroundImage = `url("${buf.src}")`;

                    element.append(user_icon);
                }
                else
                {
                    element.className = 'left';

                    element.innerHTML = "<div class='SendTime_left'></div>" + "<div class ='text_left'>" 
                        + `<a href="${data.message}" target="_blank" rel="noopener"><div class="location-wrapper"><i class="fas fa-map-marked-alt location-icon"></i><p>タップでGoogle Mapにジャンプします</p></div></a>` + "</div>";
                    
                    const user_icon = document.createElement("div");
                    user_icon.className = "image_left";

                    const buf = new Image();
                    buf.src = data.icon_img;
                    user_icon.style.backgroundImage = `url("${buf.src}")`;

                    element.prepend(user_icon);
                }

                //要素を追加
                parent.appendChild(element);
                parent.scrollIntoView(false);
            }
        }

        
        const good_btn = document.querySelector(".good");
        good_btn.addEventListener("click", () =>
        {
            //いいねボタンが押されたら200ミリ秒間スマホが振動します(safariは未対応らしいので今回はあくまでおまけ要素です+自分の方では未検証なので動くかわかりません)
            window.navigator.vibrate(200);

            console.log("good");
            const good = 
            {
                host_id: host_id,
                user_id: user_id,
                room_id: room_id
            }

            axios.post(`${location.protocol}//${location.host}/rooms/chat/good`, good).then(res => 
            {
                console.log(res.data);
            });
        });
        

        /* ダブルタップによる拡大を禁止 */
        var t = 0;
        document.documentElement.addEventListener('touchend', function (e) {
            var now = new Date().getTime();
            if ((now - t) < 350){
                e.preventDefault();
            }
            t = now;
        }, false);

