html
    link(rel="icon" href="images/favicon.ico")
    head
        meta(charset="utf-8")
        meta(name="google-signin-client_id" content=client_id)
        title login

        style(type="text/css").
            body
            {
                background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("/images/background-image.jpg");
                background-size:270% 110%;
                background-blend-mode: lighten;
            }
            /* css はここに書く */
            header{
                height:10%;
                width:100%;
                text-align:center;
                
            }
            .g-signin2{
                margin-top:400px;
                margin-bottom:100px;
                margin-left:75;
                
            }
            h1{
                text-align:center;
                font-size:60px;
                color:#EE7836;
            }

            h2{
                font-size:34px;
            }

            h3{
                font-size:40px;
                color: white;
            }
            .policy{
                margin-top:100px;
                text-align:center;
                width: 90%;
                margin: 0 auto;
            }

            .policy p{
                text-align:left;
                font-size:26px;
                font-weight: bold;
                margin: 90px 0 120px 0;
                line-height: 42px;
            }

            .policy a{
                font-size:30px;
            }







    body
        header
        main
            h1 ログイン
            .policy
                h2 以下をご確認の上ログインを行ってください
                p ※「サービス利用規約」には本サービスのご利用に関する規約が定められています。<br><br>また利用者が本サービスを利用したことをもって、当該規約に同意したものとみなします。
                a(href=`${common.protocol}://${common.host}/login/terms`) サービス利用規約はこちら

            div(class="g-signin2"  data-width="800" data-height="100" data-longtitle="true" data-theme="dark" data-onsuccess="on_sign_in")
            //a(href="/login" onclick="sign_out();") sign-out

            

        
        script(src="https://apis.google.com/js/platform.js")
        script.
            // called by google client
            function on_sign_in(googleUser)
            {
                const id_token = googleUser.getAuthResponse().id_token;
                console.log('id_token: ', id_token);
                
                const profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId());
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail());
                
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/login');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = () =>
                {
                    console.log('Server returned: ' + xhr.responseText);
                    console.log(document.cookie);

                    location.href = `${location.protocol}//${location.host}`;
                };

                xhr.send('idtoken=' + id_token);
            }
            
            // on sign out
            function sign_out()
            {
                const auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(() =>
                {
                    console.log('User signed out.');
                });
            }



          